body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

h1{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}


/* ---------------------------------- Her starter CSS for Footer ---------------------------------- */

footer {
    background-color: #3F3722;
    display: flex;
    color: white;
}

footer div {
    width: 33.33%;
    text-align: center;
}

footer h3 {
    font-size: 15px;
}

footer p {
    font-size: 13px;
    line-height: 1.5px;
    text-align: center;
}

.someimages {
    width: 30%;
}



/* ---------------------------------- Her slutter CSS for Footer ---------------------------------- */


/* ---------------------------------- Her starter CSS for mobile index.html ---------------------------------- */


/* ---------------------------------- Her slutter CSS for mobile index.html ---------------------------------- */




/* ---------------------------------- Her starter CSS for mobile header ---------------------------------- */

header img {
    width: 40%;
    padding-left: 35%;
    padding-bottom: 3px;
}

 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #3F3722;
    font-family: sans-serif;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}


@media only screen and (max-width: 1010px) {
    body {
        overflow-x: hidden;
    }



    .nav-links {
        position: fixed;
        right: 0px;
        height: 82vh;
        top: 5vh;
        background: #3F3722;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



/* ---------------------------------- Her slutter CSS for mobile header ---------------------------------- */


/* ---------------------------------- Her starter CSS for priser ---------------------------------- */






/* ---------------------------------- Her slutter CSS for priser ---------------------------------- */



/* ---------------------------------- Her starter CSS for inspiration ---------------------------------- */




/* ---------------------------------- Her slutter CSS for inspiration ---------------------------------- */




/* ---------------------------------- Her starter CSS for om pardis ---------------------------------- */

#pardismobile{
    padding-top: 10%;
    display: flex;
    margin: 0 auto;
    width: 80%
}

#ptekst{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
}


/* ---------------------------------- Her slutter CSS for om pardis ---------------------------------- */



/* ---------------------------------- Her starter CSS for kontakt ---------------------------------- */


/* ---------------------------------- Her slutter CSS for kontakt ---------------------------------- */



/* ---------------------------------- Her starter CSS for booking ---------------------------------- */


/* ---------------------------------- Her slutter CSS for booking ---------------------------------- */




