body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}


/* ---------------------------------- Her starter CSS for Footer ---------------------------------- */

footer {
    background-color: #3F3722;
    display: flex;
    color: white;
}

footer div {
    width: 33.33%;
    text-align: center;
}

footer h3 {
    font-size: 15px;
}

footer p {
    font-size: 13px;
    line-height: 1.5px;
    text-align: center;
}

.someimages {
    width: 30%;
}



/* ---------------------------------- Her slutter CSS for Footer ---------------------------------- */


/* ---------------------------------- Her starter CSS for mobile index.html ---------------------------------- */

#velkommen {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
}

#index img {
    width: 90%;
    padding: 5%;
}

#index {
    padding-top: 5%;
    text-align: center;
}


button.mbtn {
    padding: 0.6em 2em;
    border-radius: 8px;
    color: #fff;
    background-color: #3F3722;
    font-size: 1.1em;
    border: 0;
    cursor: pointer;
    margin: 1em;
}

button.mbtn.brown {
    background-color: #3F3722;
}

#pardisforside img {
    width: 30%;
    padding: 2%;
    padding-left: 5%;
}

#pardisforside {
    padding-top: 15%;
    display: flex;
    padding-bottom: 20%;
}

#pardisforside p {
    width: 60%;
    font-size: 15px;
    padding: 3%;
    font-weight: 500;
}

/* ---------------------------------- Her slutter CSS for mobile index.html ---------------------------------- */




/* ---------------------------------- Her starter CSS for mobile header ---------------------------------- */

header img {
    width: 40%;
    padding-left: 35%;
    padding-bottom: 3px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #3F3722;
    font-family: sans-serif;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}


@media only screen and (max-width: 1010px) {
    body {
        overflow-x: hidden;
    }



    .nav-links {
        position: fixed;
        right: 0px;
        height: 82vh;
        top: 5vh;
        background: #3F3722;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



/* ---------------------------------- Her slutter CSS for mobile header ---------------------------------- */


/* ---------------------------------- Her starter CSS for priser ---------------------------------- */

.klip-content,
.refleks-content,
.farve-content,
.permanent-content {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20%;
}


.klip-content img,
.refleks-content img,
.farve-content img,
.permanent-content img {
    width: 100%;
}

.text-content {
    width: 100%;
    position: relative;
    margin-top: -40%;
    color: white
}

.text-content h2 {
    font-size: 20px;
    text-align: center;
}

.text-content p {
    line-height: 1px;
    padding-left: 5%;
}

.priser-content {
    position: relative;
    margin-top: -18%;
    margin-left: 85%;
    line-height: 1px;
    color: white;
}

.farve-content .text-content {
    width: 100%;
    position: relative;
    margin-top: -58%;
}

.farve-content .priser-content {
    position: relative;
    margin-top: -35%;
    margin-left: 85%;
    line-height: 1px;
}

.permanent-content .text-content {
    width: 100%;
    position: relative;
    margin-top: -58%;
}

.permanent-content .priser-content {
    position: relative;
    margin-top: -35%;
    margin-left: 85%;
    line-height: 1px;
}







/* ---------------------------------- Her slutter CSS for priser ---------------------------------- */



/* ---------------------------------- Her starter CSS for inspiration ---------------------------------- */

#inspiration {
    padding-top: 10%;
    padding-bottom: 5%;
}

.mandikon {
    text-align: center;
    padding: 5%;
}


.kvindeikon {
     text-align: center;
    padding: 5%;
}

.drengikon {
     text-align: center;
    padding: 5%;
    padding-bottom: 20%;
}

/* --- mand --- */

.ikon1 {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.nummer1 {
    text-align: center;
}

.nummer1 img {
    padding: 3%;
}

.nummer2 {
    text-align: center;
    padding-bottom: 25%;
}

.nummer2 img {
    padding: 3%;
}


/* --- mand --- */

/* --- kvinde --- */

/* --- kvinde --- */

/* --- dreng --- */

/* --- dreng --- */


/* ---------------------------------- Her slutter CSS for inspiration ---------------------------------- */




/* ---------------------------------- Her starter CSS for om pardis ---------------------------------- */

#pardismobile {
    padding-top: 10%;
    display: flex;
    margin: 0 auto;
    width: 80%
}

#ptekst {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
}


/* ---------------------------------- Her slutter CSS for om pardis ---------------------------------- */



/* ---------------------------------- Her starter CSS for kontakt ---------------------------------- */

#kontakt {
    text-align: center;
}

#kontakt h1 {
    padding-top: 10%;
}

#kontakt h2 {
    padding-top: 10%;
}

#map {
    width: 80%;
    height: 300px;
    border-radius: 2%;
    margin: auto;
}

#mapdiv {
    padding-top: 5%;
    padding-bottom: 5%;
}

.mapboxgl-popup {
    max-width: 200px;
    color: black;
}

#kontakt {
    padding-bottom: 5%;
}

#find {
    padding-top: 5%;
    text-align: center;
}

#kontakt p {
    line-height: 1.5;
}

/* ---------------------------------- Her slutter CSS for kontakt ---------------------------------- */



/* ---------------------------------- Her starter CSS for booking ---------------------------------- */

.container {
    padding-top: 5%;
    width: 40.6%;
    margin: 0 auto;
    position: relative;
    height: 50px;
    overflow: hidden;

}

.container input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 5%;
    border: none;
    outline: none;

}

.container label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;

}

.container label::after {
    content: "";
    position: absolute;
    height: 100%;
    left: 0px;
    bottom: 0-1px;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    transition: transform all 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left 0px;
    transition: all 0.3s ease;
}

.container input:focus + .label-name .content-name,
.container input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: #595f6e;

}

.container input:focus + .label-name::after,
.container-input:valid + .label-name::after {
    transform: translateX(0%);
}



#valgtid {
    display: flex;
    justify-content: center;

}

.dropmenuset {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem;
}






/* ---------------------------------- Her slutter CSS for booking ---------------------------------- */
