body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}


/* ---------------------------------- Her starter CSS for Footer ---------------------------------- */


/* ---------------------------------- Her slutter CSS for Footer ---------------------------------- */


/* ---------------------------------- Her starter CSS for Mobile index.html ---------------------------------- */


/* ---------------------------------- Her slutter CSS for index.html ---------------------------------- */




/* ---------------------------------- Her starter CSS for ---------------------------------- */

 

/* ---------------------------------- Her slutter CSS for  ---------------------------------- */


/* ---------------------------------- Her starter CSS for  ---------------------------------- */






/* ---------------------------------- Her slutter CSS for ---------------------------------- */



/* ---------------------------------- Her starter CSS for---------------------------------- */




/* ---------------------------------- Her slutter CSS for ---------------------------------- */




/* ---------------------------------- Her starter CSS for ---------------------------------- */


/* ---------------------------------- Her slutter CSS for  ---------------------------------- */
